input {
   font-size: 20px;
   width: 400px;
   text-align: center;
}
   
#CopyButton {
   color: white;
   background-color: cornflowerblue;
   border-radius: 10px;
   padding: 10px 20px;

   &:active {
      background-color: royalblue;
   }

   &:disabled {
      background-color: rgb(193, 208, 235);
   }
}