* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: mediumspringgreen;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;

    height: 100%;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.buttonRow button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#Play {
    background-color: forestgreen;
    width: 300px;

    &:active {
      background-color: green;
    }
}

#Reset {
    background-color: orangered;

    &:active {
      background-color: red;
    }
}

#Help {
    background-color: cornflowerblue;

    &:active {
      background-color: royalblue;
    }
}

footer {
    width: 100%;
    padding: 20px;
    background-color: wheat;
}

footer a {
    padding: 10px;
    border-radius: 10px;

    // text-decoration: none;
    color: black;

    transition: linear 0.2s background-color;

    &:hover {
      background-color: rgba(#000000, $alpha: 0.1);
    }
}